@charset "UTF-8";
/* CSS Document */

@supports (-moz-appearance:none) {	
	
    html {
	-webkit-filter: none;
   filter: none;
    }

    html:hover {
        -webkit-filter: none;
    filter: none;
    }
}

body, h1, h2, h3 {
	margin: 0px auto;
	font-family:'Nanum Myeongjo', serif;
	font-weight:400;
	font-size: 1em;
	color: #000;
	width: 100%;
	text-align:center;
	line-height:200%;
}

body {
	background-color: rgb(215,119,27);
	min-height: 2000px;
}


#Content {
	margin: 0px auto;
	width: 100%;
	text-align: center;
}

#Content2 {
	margin: 0px auto;
	text-align: center;
	width: 80%;
	padding:10%;
	text-align: left;
	z-index: 100;
	font-size: 2em;
	color: #000000;
	
}

.textblock {
	width: 90%;
	padding:5%;
	text-align: left;
	font-size: 2em;
	color: #000000;
	background-color: transparent;
}

.textblockfixed {
	width: 60%;
	padding:5%;
	text-align: left;
	z-index: 100;
	font-size: 2em;
	color: #000000;
	background-color: transparent;
}

.textblock3 {
	width: 70%;
	padding:20% 10%;
	text-align: left;
	z-index: 100;
	font-size: 2em;
	color: #000000;
	background-color: transparent;
}

.textblock4 {
	margin:5vh;
	padding:5vh;
	text-align: left;
	z-index: 1000;
	position:relative;
	font-size: 2.5em;
	color: #000000;
	background-color:#ffffff;
	display:inline-block;
	min-height: 80vh;
}

#widgets {
	text-align: left;
	right: 0;
	bottom: 15%;
	z-index: 10000;
	position:fixed;
	width: 38%;
	background-color: #fef035;
	cursor:move;
	overflow:hidden;
	padding:1em;

}

.tile2, .tile3 {
	font-family:'Nanum Myeongjo', serif;
	font-weight:400;
	color: #d5762a;
	font-size:1.6em;
	text-align:center;
	background-color: #fef035;
}

.calendar-entry {
	font-family:'Nanum Myeongjo', serif;
	font-weight:400;
	color: #d5762a;
	font-size:1.6em;
	text-align:center;
	background-color: #fef035;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.arrowleft {
	font-size:2em;
	font-family: Helvetica, Arial, sans-serif;
	display:inline-block;
	color:#d5762a;
	top:50%;
	position:absolute;
	float:left;

	}

.arrowleft:hover, .arrowright:hover {

	color:#000000;

	}

.arrowright {
	font-size:2em;
	font-family: Helvetica, Arial, sans-serif;
	display:inline-block;
	color:#d5762a;
	float:right;
	top:50%;
	right:.5em;
	position:absolute;
	text-align:right;

	}

.foreground {
}
		
.textblock4old {
	margin:5vh;
	padding:5vh;
	text-align: left;
	z-index: 100;
	font-size: 2em;
	color: #000000;
	background-color:#ffffff;
	display:inline-block;
	min-height: 80vh;
}
	
.bodytextwhite {
	color:#fff;
	text-align:left;
	font-size: 1.5em;
	width:100%;
	margin-bottom:5%;
	display: inline-block;
}

.bodytextwhite a{
	text-decoration:none;
	border-bottom:1px solid;
	color:inherit;
	}
	
.bodytextwhite a:hover{
	background-color:#ffffff;
	color:#000000;
	background-image:url("../images/background-texture-6.png");
    background-repeat:round;
    background-size:250px;
    
	}

.bodytextwhite h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	color:#fff;
	text-align:center;
	margin:0;
	text-transform:uppercase;
	line-height:120%;
}

.bodytextwhite h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	color:#fff;
	text-align:left;
	-webkit-margin-before: .5em;
    -webkit-margin-after: 0;
}	

p {
		-webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    }

.invert {
	-webkit-filter: invert(100%);
   filter: invert(100%);
}

.invert:hover, .invert:active {
	-webkit-filter: invert(0);
   filter: invert(0);
}

.invert2 {
    -webkit-animation: inversion 60s infinite; /* Chrome, Safari, Opera */
    animation: inversion 60s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes inversion {
    50% {
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }
}

/* Standard syntax */
@keyframes inversion {
    50% {
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes inversion2 {
    50% {
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }
}

/* Standard syntax */
@keyframes inversion2 {
    50% {
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }
}

.invert3:hover {
    -webkit-animation: inversion3 4s ; /* Chrome, Safari, Opera */
    animation: inversion3 4s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes inversion3 {
    100% {
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }
}

/* Standard syntax */
@keyframes inversion3 {
    100% {
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }
}

.background {
	z-index: -100;
	width: 100%;
	position: fixed;
	text-align:center;
}

.background2, {
	z-index: -10;
	width: 100%;
	height: 100vh;
	position: fixed;
	text-align:center;
	background-color:#00ff00;
}

.background3 {
	z-index: -10;
	width: 100%;
	height: 100vh;
	position: fixed;
	text-align:left;
	background-color:#00ff00;
	float:left;
  display: flex;
     display: -webkit-flex;
  flex-wrap: nowrap;
  overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-top:25vh;
    margin-right:-20px;

}

.background4old {
	z-index: -10;
	width: 100%;
	height: 100vh;
	position: fixed;
	text-align:left;
	background-color:#00ff00;
	float:left;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-right:-20px;
    background-image:url("../images/background-texture-6.png");
    background-repeat:round;
    background-size:250px;
    -webkit-animation: shiftcolor 60s infinite; /* Chrome, Safari, Opera */
    animation: shiftcolor 60s infinite;
    cursor: ew-resize;

}

.background4 {
	/* z-index: -10; */
	width: 100%;
	height: 100vh;
	position: fixed;
	text-align:left;
	float:left;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	background-image:url("../images/background-texture-8.png");
	background-repeat:repeat;
	background-size:2000px;
}

.constellation {
	height:100vh;
	white-space:nowrap;
	-webkit-overflow-scrolling: touch;
	float:left;
	overflow-x: hidden;
	overflow-y: hidden;

}

.background5 {
	/* z-index: -10; */
	width: 100%;
	height: 100vh;
	display:flex;
	position: fixed;
	text-align:left;
	float:left;
	overflow-x: auto;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
	margin-right:-20px;
	background-image:url("../images/background-texture-8.png");
	background-repeat:repeat;
	background-size:2000px;
}

.carousel {
	z-index: 100;
	}


.foreground {
	z-index: 1000;
	width: 100%;
	height: 100vh;
	position: fixed;
	text-align:center;
}

.background img{
	width:50%;
	float:right;
	padding:5%;
}

.foreground img{
	height:50%;
	width:auto;
	padding-top:25vh;
	position:relative;
}

.background2 img{
	height:50%;
	width:auto;
	object-fit:cover;
	padding-top:25vh;
	position:relative;
}

.background3 img{
	height:50%;
	margin: auto;
	border-right: 20px solid transparent;
	width:auto;
	object-fit:contain;
	position:relative;
	display:inline-block;

}

.background4 img{
	width:100%;
	height:auto;
}

.blacktile {
	background-color:#000000; 
	margin:5vh; 
	padding:5vh 5vh 0 5vh; 
	z-index:10000; 
	position:relative;
	margin-top:80vh;
}

.cleartile {
	background-color:none; 
	margin:5vh; 
	padding:5vh 5vh 0 5vh; 
	z-index:10000; 
	position:relative;
	margin-top:80vh;
}

.tile {
	margin-right: 40px;
	width:40%;
	height:90%;
	position:relative;
	display:inline-block;
}

.tile2 {

		margin-top:25vh;
		
		}
		
.yellowtexture {
	background-image:url("../images/background-texture-8-white.png");
	background-repeat:repeat;
	background-size:2000px;
	}

.tile2:hover {

}

.resize-drag {

  /* This makes things *much* easier */
  box-sizing: border-box;

}

.resize-container {
  display: inline-block;
}

.highlight {
	background-color: #000000;
	padding:5px;
	}

.tile2image {
	display:inline-block;
	margin-top:auto;
	vertical-align: top;	
	margin-top:20vh;
	cursor:move;
	}

#drag, #drag2, #drag3, #drag4, #drag5, #drag6, #drag7 {
	position:fixed;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	transition: filter 1s;
	-webkit-transition: filter 1s;
}

#drag:hover, #drag2:hover, #drag3:hover, #drag4:hover, #drag5:hover, #drag6:hover, #drag7:hover {

    z-index: 1000000 !important;

}

#drag:active, #drag2:active, #drag3:active, #drag4:active, #drag5:active, #drag6:active, #drag7:active  {
	filter:invert(100%);
	-webkit-filter:invert(100%);
}

.tile2, .tile3 h3 {

	font-family: Helvetica, Arial, sans-serif; 
	color:#d5762a;
	line-height:120%;
	margin-bottom:20px;
	  text-align: center;

	}
	
.calendar-entry h3 {

	font-family: Helvetica, Arial, sans-serif; 
	color:#d5762a;
	line-height:120%;
	margin-bottom:20px;
	  text-align: center;

	}

.eventtype {
	font-size: .6em;
	text-transform: uppercase;
	display:inline-block;
	font-family: Helvetica, Arial, sans-serif; 
	letter-spacing: .8em;
	margin-bottom:1em;
}

.tile2 p {
	}

.tilecaption {
	font-family: Helvetica, Arial, sans-serif; 
	font-weight:400;
	color: #ffffff;
	padding:5%;
	font-size:1.2em;
	background-color:#000000;
	height:auto;
	white-space: normal;
	width:70%;
	margin: -15% 0 0 20%;
	z-index: 1000;
	position:absolute;

}

.tile h3 {
	font-family: Helvetica, Arial, sans-serif; 
	font-weight:400;
	color: #ffffff;

}

.tile img {
	width:100%;
	position: relative;
}

img {
	width: 100%;
    height: auto;
    align: center;
}

h1 {
	font-size: 1em;
	margin: 0;
	}
	
.leftcolumn {
	width:48%;
	float:left;
	display: inline-block;
	padding-right:4%;
}

.rightcolumn {
	width:48%;
	float:left;
	display: inline-block;
}

div.sticky {position:sticky;position:-webkit-sticky;top:0;text-align:left; display:inline;}

#stickold {
	text-align:left;
	width:auto
	z-index:10000;
	display:inline;
	background-color: #000000; 
	line-height:90%; 
	padding:5px;
	color:#ffffff; 
	float:left; 
	width:auto;
	-webkit-animation: shiftcolor 60s infinite; /* Chrome, Safari, Opera */
    animation: shiftcolor 60s infinite;
	}
	
#stick {
	text-align:left;
	/* width:auto; */
	z-index:10000;
	display:inline;
	background-color: #000000;
	line-height:70%;
	color:#ffffff;
	float:left;
	width: auto;
	}
	
#stick a {
	text-align:left;
	z-index:10000;
	display:inline;
	background-color: inherit; 
	line-height:90%; 
	padding:6px;
	color:#ffffff; 
	float:left; 
	width:auto;
	text-decoration:none;

	}
	
#stick a:hover {
	background-image:url("../images/background-texture-8-white.png");
    background-repeat:repeat;
    background-size:2000px;
    }
	
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
    	background-image:url("../images/background-texture-8.png");
    background-repeat:repeat;
    background-size:2000px;
    z-index:100000;

}

.visible-title {
    visibility: visible;
}

.colorshift {
    -webkit-animation: shiftcolor 60s infinite; /* Chrome, Safari, Opera */
    animation: shiftcolor 60s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes shiftcolor {
    0% {
        background-color:#00ff00;
    }
    
    33.333% {
        background-color:#ff0000;
    }
    
    66.666% {
        background-color:#0000ff;
    }
    
    100% {
        background-color:#00ff00;
    }
}

@keyframes shiftcolor {
    0% {
        background-color:#00ff00;
    }
    
    33.333% {
        background-color:#ff0000;
    }
    
    66.666% {
        background-color:#0000ff;
    }
    
    100% {
        background-color:#00ff00;
    }
}

	.shopheader { 
		color:#ffffff;
		width:100%;
		max-width:1400px;
		margin: 0 auto;
		font-size:2em;
		padding: 1%;
		position:fixed;
		top:0;
		z-index:100000;
		text-align:center;
	}
	
	.shopheader a {
		color: #ffffff;
		text-decoration:none;
}

    .shopheader a:hover {
    background-image:url("../images/background-texture-8-white.png");
	background-repeat:repeat;
	background-size:2000px;
    }

.shopsubtext {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .7em;
    color: #000000;
    padding:1em 0 0 2em;
    line-height: 120%;
}

.shopsubtext a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

.shopsubtext a:hover {
    background-image:url("../images/background-texture-8-white.png");
	background-repeat:repeat;
	background-size:2000px;
}

.paybutton {
	border:1px solid #000000;
	background-color: #fef035;
	text-transform:uppercase;
	margin-bottom:1%;
	padding:8px;
	text-align:left;
	font-weight:600;
	font-size:.6em;
	font-family: Helvetica, Arial, sans-serif;

}

.paybutton:hover {
	cursor:pointer;
    background-image:url("../images/background-texture-8-white.png");
	background-repeat:repeat;
	background-size:2000px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/* for 1280px or more */
@media screen and (min-width: 1280px) {

.textblock4 {
	font-size: 3em;
	}
	
.tile2image {
	height:auto;
	vertical-align: top;	
	}	
	
.background4 {
	whitespace: normal;
	display:block;
	}
	
.background4 img {
	height:100%;
	margin:0;

}
	
}

/* for 900px or less */
@media screen and (max-width: 900px) {

.textblock4 {
	font-size: 2.25em;
	
}

}

/* for 980px or less */
@media screen and (max-width: 980px) {

.leftcolumn {
	width:100%;
	padding-right:0;
}

.rightcolumn {
	width:100%;
}

#stick {
		width:auto;
}
	
.background4 img{

}

.tile {
	margin-top:10vh;
	margin-right: 40px;
	width:60%;
	height:90%;
	position:relative;
	display:inline-block;
}

.tilecaption {
	font-family: 'SimSunWeb', Times New Roman, serif; font-weight:800;
	font-weight:400;
	color: #ffffff;
	padding:5%;
	font-size:1.2em;
	background-color:#000000;
	height:auto;
	white-space: normal;
	width:100%;
	margin: -5% 0 0 10%;
	z-index: 1000;
	position:absolute;

}

html {
	-webkit-filter: none;
   filter: none;
}

html:hover, {
	-webkit-filter: none;
   filter: none;
}


}

/* for 540px or less */
@media screen and (max-width: 555px) {
	body {
		font-size:.8em;
	}
	
	#stick {
		width:auto;
		float:left;
		display:block;
		}
		
	.textblock4 {
	font-size: 1.75em;
	
}

.constellation {
	overflow-x:scroll;
	width:auto;
	position:fixed;
	}

#widgets {
	text-align: left;
	right: 0;
	top: 0;
	z-index: 10000;
	position:relative;
	margin-top:75vh;
	display:inline-block;
	width: 92%;
	background-color: #fef035;
	padding: 4%;
	white-space: nowrap;
	cursor:move;
}

.tile2, .tile3 {
	white-space:normal;
}

.calendar-entry {
	white-space:normal;
}

#drag, #drag2, #drag3, #drag4, #drag5 {
	width:50% !important;
	position:relative;
	object-fit: contain;
	text-align:left;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; 
    

}

#drag:hover, #drag2:hover, #drag3:hover, #drag4:hover, #drag5:hover {
	transform: scale(2);
	-webkit-transform: scale(2);
	top:50;
	left:0;
}

.background4 {
	overflow-x:scroll;
}

.blacktile {

	margin-top:75vh;
}

.tile2 {
	
	}
	
}